html,
body {
  width: 100%;
  height: 100%;
}

html {
  display: table;
}

body {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  cursor: default;
}

body {
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  color: #1D2B08;
  font-weight: 300;
  font-size: 3em;
}

.input {
  display: inline-block;
  margin-right: 50px;
}

.input > label {
  display: block;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 14px;
  line-height: 22px;
}

input[type="number"] {
  padding: 15px 10px;
  max-width: 150px;
  border: 0;
  border-bottom: 1px solid #000;
  text-align: center;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
}

@media only screen and (max-width: 800px) {
  body {
    vertical-align: top;
  }

  .input {
    margin-right: 0;
    margin-bottom: 20px;
  }

  input[type="number"] {
    max-width: 260px;
  }

  button {
    position: relative;
  }
}

input:focus {
  outline: 0;
}

.input:first-child {
  position: relative;
}

.input:last-child {
  margin-right: 0;
}

#radios {
  opacity: 0;
  -webkit-transition: opacity .2s ease-in-out;
}

#radios.active {
  opacity: 1;
}

button {
  position: absolute;
  right: 0;
  bottom: 0;
}

#share {
  display: block;
  bottom: 0;
  left: 0;
  text-align: center;
  width: 100%;
  background: none;
  border: 0;
  background: #000;
  color: #FFF;
  margin: 0;
  padding: 10px;
}
